h2
  font-size 24px
  font-weight bold
  padding-bottom: 20px

  &:before
    content ''
    display inline-table
    vertical-align middle
    width: 15px
    height 15px
    border-radius 0 50% 50% 50%
    background-color #acbb78

form
  display flex
  align-items center
  justify-content space-between

input
  padding 10px
  border solid 1px #676767
  border-radius: 10px
  flex auto
  margin 0 10px 0 0
button
  padding 10px 30px
  border-radius: 10px
  background-color #acbb78
  color white
  cursor pointer

